body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes cambio-background {
    from {background-color: white;}
    to {background-color: #F6A21E}
  }
.menu{
    margin: 0;
    position: sticky;

    font-weight: bold;
    padding: 20px;
}

.links{
    margin-left: 10%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #68BBE3
  }

  
  .menu li {
    padding: 30px;
    display: inline;
  }
  .menu h1{
      display: inline;
      color: white;
      padding-left: 5px;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .seccion-img{
   
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .seccion-imagenes { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .seccion-imagenes { grid-template-columns: repeat(3, 1fr); }
  }
  .seccion-imagenes {
    margin-top: 5%;
    max-width: 100%;
    display: grid;
    gap: 1.5rem;
  } 

  .tarjeta {
    background-color:  #F6A21E;
    color: white;
    padding: 1rem;
    height: 10rem;
    justify-self: stretch;
    animation-name: cambio-background;
    animation-duration: 5s;
  }


.imagen-circular{
      background-color: #F6A21E;
      width: 150px;
      border-radius:75px;
      margin-left: 33%;
  }
  .contacto{
      margin-top: 20px;
    background-color: #F6A21E;
  }
  .contactoText{
      color: white;
      padding: 10px;
  }
  .contacto-interlineado{
      line-height: 1.5;
  }


  .imagenes-seccion img{
      padding: 15px;
  }

  footer{
    margin-top: 10%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: #68BBE3;
    height: 50px;
  }
  .button{
      background-color: #68BBE3;
      color: white;
      border: solid;
      border-color: lightblue;
      border-width: 2px;
      width: 200px;
      padding: 10px;
      margin-left: 10px;
  }

 