.menu{
    margin: 0;
    position: sticky;

    font-weight: bold;
    padding: 20px;
    h1{
        display: inline;
        color: white;
        padding-left: 5px; 
    }
    li{
        
        padding: 30px;
        display: inline;
 
    }
}
li{
    a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;  
    }
}

.nav-custom{
    background-color:$mainColor !important;
}